[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/gtvsoftware/lib-ui.git
	branch = v2
[submodule "packages/auth"]
	path = packages/auth
	url = https://github.com/gtvsoftware/lib-auth.git
	branch = v2
[submodule "packages/db-catalogo-pft"]
	path = packages/db-catalogo-pft
	url = https://github.com/gtvsoftware/lib-db-catalogo-pft.git
	branch = main
[submodule "packages/typesense-catalogo-pft"]
	path = packages/typesense-catalogo-pft
	url = https://github.com/gtvsoftware/typesense-catalogo-pft.git
	branch = main
