@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --radius: 0.75rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  margin: 0 16px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  transition: background 2000ms ease-in-out;
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-color: inherit;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

:target {
  animation: target-fade 3s 1;
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}

::-webkit-scrollbar-corner {
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-color: inherit;
}

.btn {
  border-radius: 10rem !important;
  min-height: 44px;
  border: 0;
  width: 40%;
  min-width: 200px;
  height: 44px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  outline: 0;
}

.btn:not(:first-of-type) {
  margin-left: 16px;
}

.btn {
  transition: all 400ms ease-in-out;
}

.btn:hover {
  background: #d3d3d3;
}

.btn.btn-success {
  background: #52b032;
  color: white;
}

.btn.btn-success:hover {
  background: #397b23;
}

.btn.btn-danger {
  background: #ff1744;
  color: white;
}

.btn.btn-danger:hover {
  background: #851229;
}

.swal2-popup {
  border-radius: 22px !important;
}

.swal2-icon.swal2-warning {
  border-color: #f45302 !important;
  color: #f45302 !important;
}

@media (max-width: 448px) {
  .btn {
    margin-top: 12px;
  }
}

@media (min-width: 448px) {
  .swal2-actions {
    display: flex;
    flex-direction: row-reverse;
  }
}

.swal2-actions button {
  border-radius: 32px;
}

.swal2-actions button + button {
  margin: 0 16px 0 16px !important;
}

.swal2-container {
  z-index: 999999 !important;
}

.swal2-title {
  color: rgb(37, 54, 33) !important;
  letter-spacing: -0.5px;
  line-height: 1.3em;
  user-select: none;
}

.swal2-html-container {
  font-size: 16px !important;
  color: #707070 !important;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield;
  }
}

.dark .sbdocs-wrapper,
.dark .css-11ju8y0,
.dark .css-1f9domv,
.dark .css-p1dfi6,
.dark .sbdocs-preview {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.dark .sbdocs .sbdocs-content .css-qa4clq {
  color: hsl(var(--foreground));
}

.dark .sbdocs-preview {
  border: 1px solid hsl(var(--border));
}

.dark .docblock-code-toggle {
  background: transparent;
  color: hsl(var(--foreground));
}

.dark .css-qa4clq *:not(button, ol) {
  background: hsl(var(--background));
  color: hsl(var(--foreground)) hsl(var(--foreground));
}

.dark div:has(.docblock-code-toggle) {
  background: transparent;
}

.dark .os-theme-dark {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.dark .sbdocs-title {
  color: hsl(var(--foreground));
}

.dark .docblock-argstable-head {
  background: hsl(var(--background));
}

.dark .docblock-argstable-head th {
  color: hsl(var(--foreground));
  border-bottom: 1px solid hsl(var(--border)) !important;
}

.dark .docblock-argstable-head th span {
  color: hsl(var(--foreground));
}

.dark #docs-root tbody td {
  background: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

.dark #docs-root tbody tr:first-of-type td:first-of-type {
  border-top-left-radius: 0 !important;
}

.dark #docs-root tbody tr:first-of-type td:last-child {
  border-top-right-radius: 0 !important;
}

.dark #docs-root tbody tr:not(:first-of-type) {
  border-top: 1px solid hsl(var(--border)) !important;
}

.dark .css-v2ifgj.css-v2ifgj tbody > tr > * {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  border-color: hsl(var(--border));
}

.dark #control-variant {
  background-color: hsl(var(--input));
  color: hsl(var(--foreground));
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
